.container {
  justify-content: "center";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;

  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.playPause {
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  width: min-content;
  margin-left: -45%;
  color: black;
  scale: 4;
  z-index: 1;
}

.loader {
  display: flex;
  align-self: center;
  justify-self: center;
  width: 75%;
  height: 75%;
}
