.resultCard {
    display: grid;
    width: 50vw;
    max-width: 60vw;
    min-width: 25vw;
    height: fit-content;
    grid-template-columns: 15% 70% 15%;
    padding: 1rem;
    margin: 1rem;
    opacity: 0.9;
    background-color: pink;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.trackAndArtist {
    grid-column-start: 2;
    display: grid;
    flex-direction: column;
    column-gap: 0.1em;
    justify-content: left;
    align-items: left;
}

header {
    margin-bottom: 5px;
}

img {
    scale: 1.25;
    padding: 0.5rem;
}

h2 {
    margin-bottom: 0px;
    align-items: baseline;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: white;
    padding: 0.2em;

}
p {
    margin-top: 0px;
    text-align: left;
    font-weight: bold;
    cursor: text;
}

.audioPreviewContainer {
    align-self: center;
    margin-top: 0px;
}

.songLength{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
    cursor: text;
    text-decoration: none;
}